.control {
  background-color: color(lightblue);

  h2 {
    font-size: size(xxl) + 5rem;
    background: -webkit-radial-gradient(color(orange), color(purple));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  iframe {
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
  }
}
