.cta {
  background-color: color(lightblack);

  &-content {
    @include flexCenter();
    @include sectionSpacing();
    @include maxWidth();

    h2 {
      font-size: size(xxl) + 3rem;
      background: -webkit-linear-gradient(
        top right,
        color(orange),
        color(purple)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    small {
      @include textStyles();
      display: block;
      font-size: size(xs);
      color: color(white);
    }

    a:not(.btn) {
      @include textStyles();
      color: color(orange);
      font-size: size(xs);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
