.footer {
  background-color: color(lightblack);

  &-content {
    @include maxWidth();
    padding: 0 2rem;

    &-top {
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      @include responsive(xxl) {
        grid-template-columns: repeat(3, 1fr);
      }

      @include responsive(md) {
        grid-template-columns: 1fr;
      }

      .footer-col {
        margin-bottom: 1rem;
      }

      h4 {
        @include headingStyles();
        background: -webkit-linear-gradient(
          top right,
          color(orange),
          color(purple)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: size(md);
      }

      li {
        margin: 1rem 0;
      }

      a {
        @include textStyles();
        color: color(white);
        font-size: size(xs);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      border-top: 0.1rem solid color(white);
      padding: 1rem 0;

      img {
        width: 10rem;
      }

      p {
        @include textStyles();
        color: color(white);
        font-size: size(xxs);
      }
    }
  }
}
