.two-col-content {
  @include maxWidth();
  @include sectionSpacing();
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4rem;

  @include responsive(xl) {
    grid-template-columns: 1fr;
  }

  &-info {
    order: -1;
  }

  .underline {
    height: 1rem;
    width: 50%;
    border-radius: 1rem;
    background: linear-gradient(to left, color(purple), color(violet));

    @include responsive(sm) {
      width: 100%;
    }
  }

  h2 {
    @include headingStyles();
    color: color(purple);
    font-size: size(xxl);
  }

  p {
    @include textStyles();
    font-size: size(sm);
  }

  small {
    @include textStyles();
    font-size: size(xs);
    color: color(purple);
  }

  a {
    @include textStyles();
    font-size: size(xs);
    color: color(purple);

    &:hover {
      text-decoration: underline;
    }
  }
}

.one-col-content {
  @include flexCenter();
  @include sectionSpacing();
}

.control {
  background-color: color(lightblue);

  h2 {
    font-size: size(xxl) + 5rem;
    background: -webkit-radial-gradient(color(orange), color(purple));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include responsive(xl) {
      font-size: size(xxl) + 3rem;
    }
  }

  iframe {
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    width: 80rem;
    height: 50rem;

    @include responsive(xl) {
      width: 70rem;
      height: 40rem;
    }

    @include responsive(lg) {
      width: 55rem;
      height: 30rem;
    }

    @include responsive(md) {
      width: 40rem;
      height: 25rem;
    }

    @include responsive(sm) {
      width: 35rem;
      height: 25rem;
    }
  }
}

.rewards {
  background-color: color(lightblue);
}

.tor {
  background-color: color(lightblue);
}

.deal {
  .creators {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include responsive(md) {
      grid-template-columns: 1fr;
    }

    img {
      width: 20rem;
    }
  }
}

.testimonials {
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to bottom right,
    color(purple) 60%,
    color(orange)
  );

  .testimonial {
    color: color(white);
    text-align: center;

    p {
      @include textStyles();
      font-style: italic;
      font-size: size(md);
      max-width: 75%;
      margin: auto;
      z-index: 5;

      @include responsive(md) {
        max-width: 100%;
      }
    }

    img {
      width: 10rem;
      z-index: 5;
    }
  }
}
