.two-col-content {
  @include maxWidth();
  @include sectionSpacing();
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4rem;

  .underline {
    height: 1rem;
    width: 50%;
    border-radius: 1rem;
    background: linear-gradient(to left, color(purple), color(violet));
  }

  h2 {
    @include headingStyles();
    color: color(purple);
    font-size: size(xxl);
  }

  p {
    @include textStyles();
    font-size: size(sm);
  }

  small {
    @include textStyles();
    font-size: size(xs);
    color: color(purple);
  }

  a {
    @include textStyles();
    font-size: size(xs);
    color: color(purple);

    &:hover {
      text-decoration: underline;
    }
  }
}

.one-col-content {
  @include flexCenter();
  @include sectionSpacing();
}

.control {
  background-color: color(lightblue);

  h2 {
    font-size: size(xxl) + 5rem;
    background: -webkit-radial-gradient(color(orange), color(purple));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  iframe {
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
  }
}

.rewards {
  background-color: color(lightblue);
}

.tor {
  background-color: color(lightblue);
}

.deal {
  .creators {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 20rem;
    }
  }
}

.testimonials {
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to bottom right,
    color(purple) 60%,
    color(orange)
  );

  .testimonial {
    color: color(white);
    text-align: center;

    p {
      @include textStyles();
      font-style: italic;
    }

    img {
      width: 10rem;
    }
  }
}
