.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: transparent;
  padding: 2rem 6rem;
  transition: all 0.3s ease;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-logo {
      img {
        width: 10rem;
      }
    }

    .navbar-links {
      @include responsive(xl) {
        display: none;
      }
    }

    .navbar-link {
      color: color(white);
      font-size: size(xs);
      margin: 1.5rem;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.navbar.dark {
  padding: 2rem 3rem;
  background-color: color(lightblack);
}
