.nav-btn {
  font-size: size(xs);
  color: color(white);
  background-color: transparent;
  border: 1px solid color(white);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;

  &:hover {
    opacity: 0.9;
  }
}

.btn-orange {
  font-family: "Poppins", sans-serif;
  font-size: size(lg);
  color: color(white);
  background-color: color(orange);
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.9;
  }
}
