.browser-hero {
  background: color(purple);
  background: linear-gradient(color(purple), color(orange));
  padding-top: 10rem;

  &-content {
    @include maxWidth();
    @include sectionSpacing();
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    color: color(white);

    @include responsive(xl) {
      grid-template-columns: 1fr;
      text-align: center;
    }

    h5 {
      @include headingStyles();
      font-size: size(md);
    }

    h1 {
      @include headingStyles();
      font-size: size(xxl) + 2rem;
    }
  }
}
